Displays the hierarchy in entity autocomplete fields. Taxonomy terms are supported out of the box.

<h4>Configuring</h4>

Other entity types can be added by setting the 'parent' reference field name in a service parameter. The default value is:

<code>
  parameters:
    entity_autocomplete_hierarchy.parent_fields:
      taxonomy_term: parent
    entity_autocomplete_hierarchy.separator: ' > '
</code>
